* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
header {
  width: auto;
  background-image: url(../Images/Cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  margin: 30px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  padding: 20px;
  margin: 40px;
  margin-top: 190px;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  color: black;
}
.list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 10px;
  margin: 40px;
  margin-top: 230px;
  gap: 20px;
}
.links {
  padding: 40px 20px;
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.links:hover {
  padding-bottom: 10px;
  padding-right: 7px;
  padding-left: 7px;
  border-bottom: solid 1px black;
  color: black;
}
.links.active {
  color: rgb(139, 11, 71);
}

.container {
  width: auto;
  padding: 10px;
  margin: 10px;
  line-height: 23px;
  font-size: 13px;
  font-weight: 300;
}

.AA {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

h1 {
  font-weight: 500;
}
.photos {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.photo {
  width: 25%;
  display: block;
}

.img {
  height: 250px;
  width: 250px;
}
.address {
  font-weight: 500;
  font-size: 17px;
  color: rgb(222, 24, 27);
}

.dollar {
  color: rgb(70, 189, 119);
  font-size: 17px;
}
footer {
  text-align: center;
  font-weight: 200;
}
.hr1 {
  border: solid rgb(217, 222, 226);
  width: 98%;
}
.caption1 {
  display: flex;
  color: rgb(155, 164, 81);
  margin-top: -10px;
  margin-left: 12px;
  font-weight: 400;
  font-style: italic;
}
